<h2><b>About</b></h2>

<h3>The aim of this blog is create my blog platform for writting about what I most like. I developed it using Ruby on Rails.</h3>

<h3>Feel free to use this project, but please delete all the information about me.</h3>

<h3>The blog still need lot of work to do, fi you really want to use it, you should implement:</h3>
<ul>
  <li><h4>Add tags to posts</h4></li>
  <li><h4>Term of use</h4></li>
  <li><h4>Internationalization<h4></li>
</ul>