<h1>Edit Comment</h1>


<%=form_for [@post, @comment] do |f| %>
  
  <div class="form-group">
    <%= f.label :content, 'Content' %>
    <%= f.text_area :content, :cols => "84", :rows => "10" %>
  </div> 
  
  <%= f.submit "Edit", class: "btn btn-large btn-primary" %>
<% end %>
