<h1><%= t('user.users') %></h1>

<% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %> 
  <%= link_to t('button.edit'),  edit_user_path(user) %>
  <%= link_to t('button.delete'), user, method: :delete, data: { confirm: 'are you sure?' }, remote: true %>
  <br>

<% end %>



