<h1>User Information</h1>

<h4>Total of users: <%= User.count %></h4> 
<h4>Users:</h4>

<!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>total comments</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th>
          <%= link_to user.name, user_path(user) %>
        </th>
        <th>
          <%= user.comments.count %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
