<h1>Edit Post <%= @post.title %></h1>
 <% #por terminar %>
<%=form_for @post do |f| %>
  <%= render 'fields', f:f %>

  
  <%= f.submit t('button.edit'), class: "btn btn-large btn-primary" %>
<% end %>
