/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 *= require select2
 *= require select2-bootstrap
 */


#blog_title{
  font-size: 50px;
  color: blue;
}

#blog_subtitle1{
  margin-left: 5%;
}

#blog_subtitle2, li{
  margin-top: 1.5%;

}

.img-circle{
  max-height:50%;
  max-width:50%;
  margin-left: 50%;
}


#latest_posts{
  margin-top: 2%;
}

#home_icon{
  font-size: 180%;
}

.footer{
  background-color: #FAFAFA;
  max-width: 100%;
}

.rotate{
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
  
  opacity: 0.8;
}

.footer{
  margin-top: 0%;
}

#main-content{
  margin-left: 2%;
}