<section class="footer">
<hr>
  <ul class="list-inline text-center">
    <li><h4><%= link_to t('layout.about') , about_path %></h4></li>
     
    <%= link_to 'Español', locale: :es %>|
    <%= link_to 'English', locale: :en %> |
    <%= link_to 'Português', locale: :pt %> 
    
  </ul>
</section>